<div class="container">
    <div>
        <h2>Modifier un Vetement :</h2>
    </div>
    <form>
    <!--hidden-->
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Vetement</label>
            <input readonly type="text" [(ngModel)]="currentVetement.idVet" name="idVet" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Vetement</label>
            <input type="text" [(ngModel)]="currentVetement.nomVet" name="nomVet" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix Vetement</label>
            <input type="number" [(ngModel)]="currentVetement.prix" name="prix" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [ngModel]="currentVetement.dateCreation | date: 'yyyy-MM-dd'"
                (ngModelChange)=" currentVetement.dateCreation= $event" name="dateCreation" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Categorie</label>
            <select class="form-control form-control-lg" id="idGen" name="idGen" [(ngModel)]="updatedGenId">
                @for(gen of genres; track gen.idGen){
                <option [value]="gen.idGen"> {{gen.nomGen}} </option>
                }
            </select>
        </div> 
        <div class="mt-2">
            <button type="submit" (click)="updateVetement()" class="btn btn-success">Modifer</button>
        </div>
    </form>
</div>