<div class="container">

    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Vetement en tapant</label>
        <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
        </div>
    </form>
        

    <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Produit en tapant</label>
        <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
    </form> -->
    <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Produit</label>
            <input type="text" class="form-control" [(ngModel)]="nomVet" name="nomVet" class="form-control">
            <button type="submit" (click)="rechercherVets()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        </div>
    </form> -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Date Création</th>
                    <th>Catégorie</th>
                </tr>
                @for (vet of vetements | searchFilter : searchTerm ; track vet.idVet)
                {<tbody>
                    <tr>
                        <tr>
                            <td>{{ vet.idVet }}</td>
                            <td>{{ vet.nomVet }}</td>
                            <td>{{ vet.prix }}</td>
                            <td>{{ vet.dateCreation | date:'dd/MM/yyyy' }}</td>
                        @if(vet.genre){
                            <td>{{vet.genre.nomGen}}</td> }
                        @else {
                        <td>PAS DE CATEGORIE</td>
                        }
                        <!--
        <td><a class="btn btn-danger"
        (click)="supprimerProduit(produit)">Supprimer</a></td>
        <td><a class="btn btn-success"
        [routerLink]="['/updateProduit',produit.idProduit]">Modifier</a></td> -->
                    </tr>
                </tbody>
                }
            </table>
        </div>
    </div>
</div>