<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gestion des Vetements</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/vetements">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"aria-expanded="false">
            Vetements
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            @if(authService.isAdmin()) {
            <li><a class="dropdown-item" routerLink="/add-vetement">Ajouter</a></li>
          }
            <li><a class="dropdown-item" href="#">Lister</a></li>
            <li> <a class="dropdown-item" routerLink="/rechercheParGenre" >Recherche Par Genre</a></li>
            <li> <a class="dropdown-item" routerLink="/rechercheParNom" >Recherche Par nom</a></li>
            <a class="dropdown-item" routerLink="/listeGneres" >Gestion des genres</a>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto m-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            [{{authService.loggedUser}}]
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            @if(!authService.isloggedIn)
            {
            <li><a class="dropdown-item" routerLink ="/login">Login</a></li>
            }@else{
              <li><a class="dropdown-item"  (click)="onLogout()">Logout</a></li>
            }
            <li><a class="dropdown-item" href="#">Profile</a></li>
           
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>